body, html {
  background: skyblue;
}

#gallery-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 40px 0;
}

#gallery {
  text-align: center;
}

.gallery-item {
  display: inline-block;
  width: 15%;
  height: 275px;
  margin: 5px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
}

@media all and (max-width:991px) {
  #gallery-wrapper {
    width: 100%;
  }

  .gallery-item {
    width: 25%;
    margin: 2px;
  }
}

@media all and (max-width:480px) {
  .gallery-item {
    width: 40%;
    height: 150px;
  }
}