.item, i {
  z-index: 2;
}

.item {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.item img {
  max-height: 600px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  /**
   * for some reason, removing the border here breaks tiny slider
   **/
  border: 5px solid white;
}

.controls {
  display: inline-block;
  padding: 10px;
  background: rgba(0,0,0,.2);
  z-index: 2;
}

.controls i {
  margin: 0 10px;
}

/**
 * Slider Styles
 **/
 #slider-wrapper {
   overflow: hidden;
 }

.tns-outer button[data-action='start'],
.tns-outer button[data-action='stop'] {
  display: none;
}


.tns-horizontal.tns-subpixel>.tns-item {
  vertical-align: middle;
}

.tns-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.tns-controls button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  margin: 5px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  font-size: 36px;
  font-family: 'Stan';
}

@media all and (max-width:767px) {
  .tns-controls button {
    font-size: 20px;
  }
}